@define-mixin atSmall { /* Will take effect if screen has a Min Width of 530px up to larger screen size */
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMedium { /* Will take effect if screen has a Min Width of 800px up to larger screen size */
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atLarge { /* Will take effect if screen has a Min Width of 1200px up to larger screen size */
    @media (min-width: 1010px) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    &::after { /* Ideal or Best Practice in clearing float element */
        content: "";
        clear: both;
        display: table;
    }
}