.row {
    @mixin atMedium { /* Will take effect if screen has a Min Width of 800px up to larger screen size */

        &__medium-4 {
            float: left;
            width: 33.33%;
        }

        &__medium-4--larger {
            width: 37%;
        }

        &__medium-6 {
            width: 50%;
            float: left;
        }
    
        &__medium-8 {
            float: left;
            width: 66.66%
        }

        &__medium-8--smaller {
            width: 63%;
        }

        &__b-margin-until-medium {
            margin-bottom: 0
        }

    }

    @mixin atLarge { /* Will take effect if screen has a Min Width of 800px up to larger screen size */

        &__large-4 {
            float: left;
            width: 33.33%;
        }

        &__large-4--larger {
            width: 37%;
        }

        &__large-6 {
            width: 50%;
            float: left;
        }
    
        &__large-8 {
            float: left;
            width: 66.66%
        }

        &__large-8--smaller {
            width: 63%;
        }

    }

    @mixin clearfix;

    &--t-padding {
        padding-top: 80px;
    }

    &--gutters {
        /*  Remove the padding right 65px of the last column given to the direct child row--gutters > div. 
            Set the outer parent "WRAPPER" container to overflow hidden.
        */
        margin-right: -65px;
    }
    &--gutters > div { /* Targets the Direct Child Element DIV */
        padding-right: 65px;
    }

    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters-large > div { /* Targets the Direct Child Element DIV */
        padding-right: 100px;
    }

    &--gutters-small {
        margin-right: -45px;
    }

    &--gutters-small > div { /* Targets the Direct Child Element DIV */
        padding-right: 45px;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }

    /* Begin Equal Height Rules */

    &--equal-height-at-medium {

        @mixin atMedium {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }

    &--equal-height-at-large {

        @mixin atLarge {
            display: flex;
        }

        & > div {
            float: none;
            display: flex;
        }
    }
}