.section-title {
    font-size: 2.55rem; /* Base: Mobile View. Smaller Screen */
    font-weight: 300;
    text-align: center;

    @mixin atSmall { /* Will effect on Min Width of 530px up to larger size */
        font-size: 3.75rem;
    }

    strong {
        font-weight: 500;
    }

    &--blue {
        color: $mainBlue;
    }

    &--less-margin {
        margin-bottom: 1rem;
    }

    &__icon { /* Base: Mobile View. Smaller Screen */
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6rem;

        @mixin atSmall { /* Will effect on Min Width of 530px up to larger size */
            position: relative;
            top: 8px;
            margin-right: .5rem;
            margin-left: 0;
            margin-bottom:0;
            display: inline-block;
        }
    }
}